In [2]:
import pymysql as psql
import pandas as pd
import numpy as np
import pymysql.cursors
import pandas as pd  
from sqlalchemy import create_engine

In [6]:
server =  {
        'host': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'admin123',
        'db': 'device',
        'charset': 'utf8mb4',
        'cursorclass': pymysql.cursors.DictCursor
    }

In [37]:
engine = create_engine('mysql+pymysql://root:admin123@localhost:3306/device?charset=utf8')

In [38]:
b = pd.DataFrame(['a','b','c','d'],index=['name','sex','birth','birthaddr'])
c = np.transpose(a)
c

  name sex birth birthaddr
0    a   b     c         d

In [39]:
c.to_sql('df',engine,if_exists='append')

In [42]:
dates = pd.date_range('20130101', periods=6)
df_a = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df_a

                   A         B         C         D
2013-01-01  0.089634  0.246817  1.094679  1.783289
2013-01-02 -1.478623 -2.626255  0.467337  1.976701
2013-01-03 -0.762399 -0.086488 -0.617782  0.832104
2013-01-04  0.123001  0.944123 -1.147885 -2.453477
2013-01-05  2.437211  0.248876 -1.048992 -1.220284
2013-01-06 -0.269232  1.707782  0.073808  0.758150

In [41]:
df.to_sql('df',engine,if_exists='append')

In [27]:
# -*- coding:utf-8 -*-
import pandas as pd
import pymysql
import sys
from sqlalchemy import create_engine

def read_mysql_and_insert():
    
    try:
        conn = pymysql.connect(host='localhost',user='root',password='admin123',db='device',charset='utf8')
    except pymysql.err.OperationalError as e:
        print('Error is '+str(e))
        sys.exit()
        
    try:
        engine = create_engine('mysql+pymysql://root:admin123@localhost:3306/device')
    except sqlalchemy.exc.OperationalError as e:
        print('Error is '+str(e))
        sys.exit()
    except sqlalchemy.exc.InternalError as e:
        print('Error is '+str(e))
        sys.exit()
        
    try:   
        sql = 'select * from mytable'
        df = pd.read_sql(sql, con=conn) 
    except pymysql.err.ProgrammingError as e:
        print('Error is '+str(e))
        sys.exit() 

    print(df.head())
    df.to_sql(name='sum_case_1',con=engine,if_exists='append',index=False)
    conn.close()
    print('ok')
    
if __name__ == '__main__':    
    df = read_mysql_and_insert()

    name sex       birth birthaddr
0  abccs   f  1977-07-07     china
1   test   a        None         a
ok

In [28]:
engine = create_engine('mysql+pymysql://root:admin123@localhost:3306/device')

In [48]:
import io
cStringIO =io
output = cStringIO.StringIO()
# ignore the index
df_a.to_csv(output, sep='\t',index = False, header = False)
output.getvalue()
# jump to start of stream
output.seek(0)

connection = engine.raw_connection() #engine æ˜¯ from sqlalchemy import create_engine
cursor = connection.cursor()
# null value become ''
cursor.copy_from(output,table_name,null='')
connection.commit()
cursor.close()

AttributeError: 'Cursor' object has no attribute 'copy_from'

In [5]:
dates = pd.date_range('20130101', periods=6)
df_a = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df_b = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df_a

                   A         B         C         D
2013-01-01  2.495307 -0.924553 -1.252549  0.346599
2013-01-02 -1.516418  0.073277 -0.744019 -0.242820
2013-01-03  1.623602  0.434938 -0.774929  1.382326
2013-01-04  1.701993 -0.895001  1.318191 -0.814462
2013-01-05  1.791345 -0.044325  1.298130 -0.033661
2013-01-06  0.561382  1.645115 -1.440455  0.488954

In [16]:
df = {'df_a':df_a,'df_b':df_b}

In [17]:
writer = pd.ExcelWriter('output.xlsx')

In [18]:
for x in df:
    df[x].to_excel(writer,x)
writer.save()

In [10]:
print(help(df_a.to_excel))

Help on method to_excel in module pandas.core.frame:

to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None) method of pandas.core.frame.DataFrame instance
    Write DataFrame to an excel sheet


    Parameters
    ----------
    excel_writer : string or ExcelWriter object
        File path or existing ExcelWriter
    sheet_name : string, default 'Sheet1'
        Name of sheet which will contain DataFrame
    na_rep : string, default ''
        Missing data representation
    float_format : string, default None
        Format string for floating point numbers
    columns : sequence, optional
        Columns to write
    header : boolean or list of string, default True
        Write out column names. If a list of string is given it is
        assumed to be aliases for the column names
    index : boolean, default True
        Write row names (index)
    index_label : string or sequence, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the DataFrame uses MultiIndex.
    startrow :
        upper left cell row to dump data frame
    startcol :
        upper left cell column to dump data frame
    engine : string, default None
        write engine to use - you can also set this via the options
        ``io.excel.xlsx.writer``, ``io.excel.xls.writer``, and
        ``io.excel.xlsm.writer``.
    merge_cells : boolean, default True
        Write MultiIndex and Hierarchical Rows as merged cells.
    encoding: string, default None
        encoding of the resulting excel file. Only necessary for xlwt,
        other writers support unicode natively.
    inf_rep : string, default 'inf'
        Representation for infinity (there is no native representation for
        infinity in Excel)
    freeze_panes : tuple of integer (length 2), default None
        Specifies the one-based bottommost row and rightmost column that
        is to be frozen

        .. versionadded:: 0.20.0

    Notes
    -----
    If passing an existing ExcelWriter object, then the sheet will be added
    to the existing workbook.  This can be used to save different
    DataFrames to one workbook:

    >>> writer = pd.ExcelWriter('output.xlsx')
    >>> df1.to_excel(writer,'Sheet1')
    >>> df2.to_excel(writer,'Sheet2')
    >>> writer.save()

    For compatibility with to_csv, to_excel serializes lists and dicts to
    strings before writing.

None